<header>
  <h1>Bookstore</h1>
</header>

<div class="nav-bar">
  <div class="nav-links">
      <a href="#">All Books</a>
      <a href="#">Most Recent</a>
      <a href="#">Most Popular</a>
      <a href="#">Free Books</a>
      <a href="#">My Cart</a>
  </div>
  <div class="login-link">
      <a href="#">Login</a>
  </div>
</div>

<div class="search-bar">
  <input type="text" placeholder="Search for books..." />
</div>


<div class="book-list">
  <!-- Здесь будут отображаться книги -->
  <div class="book-item">
    <img src="assets/103471342E7AA88ABAAD5C26C1BC87D9752E602B.jpeg" alt="Book Image"/>
    <h3>The Riverside Shakespeare</h3>
    <p>$19.99</p>
    <button>Add to Cart</button>
  </div>
  <div class="book-item">
    <img src="assets/DD7361438EBFB6283984F211918B126D47F5EC47.jpeg" alt="Book Image" />
    <h3>The Great Composers</h3>
    <p>$15.99</p>
    <button>Add to Cart</button>
  </div>
  <div class="book-item">
    <img src="assets/A3C8364C9EF86A0E4692AA8D1551E3BC75238BB2.jpeg" alt="Book Image" />
    <h3>Introduction to Algorithms</h3>
    <p>$22.99</p>
    <button>Add to Cart</button>
  </div>
  <div class="book-item">
    <img src="assets/84F3834CB4DBE166964E006D99828E0E66D8B307.jpeg" alt="Book Image" />
    <h3>Artificial Intelligence</h3>
    <p>$16.99</p>
    <button>Add to Cart</button>
  </div>
  <div class="book-item">
    <img src="assets/DF6D198C284C185FE26141CA0F45DF4CE9B25427.jpeg" alt="Book Image" />
    <h3>Theory of Computation</h3>
    <p>$16.99</p>
    <button>Add to Cart</button>
  </div>
</div>



<footer>
  <p>&copy; 2025 Bookstore. All rights reserved.</p>
</footer>
<router-outlet></router-outlet>